<div class="wrapper">
  <div class="side-container">
    <div class="side-header">
      <div class="name">
        <% if user_signed_in? %>
          <%= link_to current_user.nickname, "" %>
        <% else %>
          <%= link_to "ログイン画面へ", new_user_session_path %>
        <% end %>
      </div>
    </div>

    <div class="side-list">
      <div class="log">
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="tweet-container">
    <div class="tweet-header">
      <div class="post">
        <%= link_to "新規投稿", new_tweet_path %>
      </div>
    </div>


    <div class="tweet-main">
      <% @tweets.each do |tweet| %>
        <div class="chat-content">
          <div class="tweet-text">
            <div class="name-id">
              <%= tweet.user.nickname %>
            </div>
            <div class="text-id">
              <%= tweet.text %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


