<div class="wrapper">
  <!--サイドバーの読み込み-->
  <%= render "shared/side" %>
  <div class="tweet-container">
    <div class="tweet-header">
        <div class="new-container">
          <% if user_signed_in? %>
            <h2>新規投稿</h2>
            <%= form_with(model: @tweet, url: tweets_path, remote: true, class: "new-text") do |form| %>
              <%= form.text_field :text, placeholder: "ツイートしてみよう！", id: "new", maxlength:"50" %>
              <%= form.submit "投稿する", id: "new-submit", class: "new-send" %>
            <% end %>
          <% end %>
        </div>
    </div>
    <div id="tweet-new">
      <!--投稿一覧の表示の読み込み-->
      <%= render "tweet_new" %>
    </div>
  </div>
</div>
