<div class="wrapper">
  <!--サイドバーの読み込み-->
  <%= render "shared/side" %>
  <div class="tweet-containers">
    <div class="tweet-texts">
      <!--ユーザー名の表示-->
      <div class="name-id">
        <%= @tweet.user.nickname %>
      </div>
      <!--投稿内容の表示-->
      <div class="text-id">
        <%= @tweet.text %><br>
        <!--お気に入りに登録された回数を表示-->
        <div class="likes">
          <%= "#{@like.count}件のお気に入り" %>
        </div>
        <% if current_user.id == @tweet.user_id %>
          <div class="edit">
            <%= link_to "編集", edit_tweet_path %>
          </div>
          <div class="delete">
            <%= link_to "削除", tweet_path, method: :delete %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="content-wrapper">
    <div class="comment-wrap">
      <div class="comment-content" id="comment">
        <button>コメント一覧</button>
      </div>
    </div>

    <div class="tweet-mains">
      <% @comments.each do |comment| %>
        <div class="tweet-text">
          <!--コメントユーザー名の表示-->
          <div class="name-id">
            <%= "#{comment.user.nickname}" %>
          </div>
          <!--コメント内容の表示-->
          <div class="text-id">
            <%= comment.content %><br>
          </div>
        </div>
      <% end %>
    </div>

    <div class="comment-footer">
      <div class="response">
        <%= form_with(model: [@tweet, @comment], local: true) do |f|%>
          <div class="field">
            <%= f.label :content, "コメント" %><br />
            <%= f.text_field :content %>
          </div>
          <div class="actions">
            <%= f.submit "コメントする",class: "new-send" %>
          </div>
        <% end %> 
      </div>
    </div>


  </div>
</div>
