<div class="wrapper">
  <!--サイドバーの読み込み-->
  <%= render "shared/side" %>
  <div class="tweet-container">
    <div class="tweet-text">
      <!--ユーザー名の表示-->
      <div class="name-id">
        <%= @tweet.user.nickname %>
      </div>
      <!--投稿内容の表示-->
      <div class="text-id">
        <%= @tweet.text %><br>
        <!--お気に入りに登録された回数を表示-->
        <div class="likes">
          <%= "#{@like.count}件のお気に入り" %>
        </div>
        <% if current_user.id == @tweet.user_id %>
          <div class="edit">
            <%= link_to "編集", edit_tweet_path %>
          </div>
          <div class="delete">
            <%= link_to "削除", tweet_path, method: :delete %>
          </div>
        <% end %>
      </div>




    <div class="tweet-main">
      <!--お気に入りに登録した投稿のみ表示-->
      <% @comments.each do |comment| %>
        <div class="tweet-text">
          <!--投稿ユーザー名の表示-->
          <div class="name-id">
            <%= "#{comment.user.nickname}" %>
          </div>
          <!--投稿内容の表示-->
          <div class="text-id">
            <%= comment.content %><br>
          </div>
        </div>
      <% end %>
    </div>







    </div>

    <div class="response">
      <%= form_with(model: [@tweet, @comment], local: true) do |f|%>
        <div class="field">
          <%= f.label :content, "コメント" %><br />
          <%= f.text_field :content %>
        </div>
        <div class="actions">
          <%= f.submit "送信する", class: :form__btn  %>
        </div>
      <% end %> 
    </div>


  </div>
</div>
