<div class="wrapper">
  <%= render "shared/side" %>
  <div class="tweet-container">
    <div class="tweet-text">
      <div class="name-id">
        <%= @tweet.user.nickname %>
      </div>
      <div class="text-id">
        <%= @tweet.text %><br>
        <div class="likes">
          <%= "#{@like.count}件のお気に入り" %>
        </div>
      </div>
    </div>

    <% if current_user.id == @tweet.user_id %>
      <div class="edit">
        <%= link_to "編集", edit_tweet_path %>
      </div>
      <div class="edit">
        <%= link_to "削除", tweet_path, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
