<div class="wrapper">
  <!--サイドバーの読み込み-->
  <%= render "shared/side" %>
  <div class="container"> 
    <div class="fav">
      <%= "#{current_user.nickname}さんのお気に入り一覧" %>
    </div>
    
    <div class="tweet-main">
      <!--お気に入りに登録した投稿のみ表示-->
      <% @tweets.each do |tweet| %>
        <div class="tweet-text">
          <!--投稿ユーザー名の表示-->
          <div class="name-id">
            <%= link_to "#{tweet.user.nickname}", user_path(tweet.user.id) %>
          </div>
          <!--投稿内容の表示-->
          <div class="text-id">
            <%= link_to tweet.text, tweet_path(tweet.id) %><br>
          </div>
          <%= image_tag tweet.image.variant(resize: '200x200') if tweet.image.attached? %>
        </div>
      <% end %>
    </div>
  </div>
</div>