<div class="sign-in">
  <div class="input-area">
    <%= form_for(@user, url: user_path, action: "update", local: true) do |f| %>
      <%= link_to root_path do %>
        <span class="fa fa-home"></span> 
      <% end %>
      <%#= render 'shared/error_messages', model: @user %>
      <h1>編集ページ</h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">ニックネーム</label>
        </div>
        <%= f.text_area :nickname, class:"input-default", placeholder:"例) 10文字まで", maxlength:"10" %>
      </div>
      <div class='form-text-wrap'>
        <label class="form-text">自己紹介</label>
      </div>
      <div class='input-name-wrap'>
        <%= f.text_area :self_introduction, class:"input-introduction",maxlength:"200", placeholder:"200字まで" %>
      </div>

      <div class="update">
        <%= f.submit "更新する" %>
      </div>
    <% end %>

</div>
</div>