<div class="wrapper">
  <!--サイドバーの読み込み-->
  <%= render "shared/side" %>
  <div class="container">
    <div class="header">
      <div class="user-name">
        <%= "#{@user.nickname}さんのマイページ" %>
        <!--ログインユーザーのマイページであれば編集ボタンを表示-->
        <% if @user.id == current_user.id %>
          <div class="user-edit">
            <%= link_to "編集", edit_user_path %>
          </div>
        <% end %>
      </div>
      <!--自己紹介文を表示-->
      <div class="user-introduction">
        <%= @user.self_introduction %>
      </div>
    </div>

    <div class="tweet-main">
      <% @tweets.each do |tweet| %>
        <!--投稿した内容のIDとユーザーIDが一致しているものだけ表示（自分の投稿のみ表示）-->
        <% if tweet.user_id == @user.id %>
          <div class="tweet-text">
            <!--投稿ユーザー名の表示-->
            <div class="name-id">
              <%= "#{tweet.user.nickname}" %>
            </div>
            <%= link_to image_tag(tweet.image.variant(resize: '200x200')),tweet_path(tweet.id) if tweet.image.attached? %>
            <!--投稿内容の表示-->
            <div class="text-id">
              <%= link_to tweet.text, tweet_path(tweet.id) %><br>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
