  <div class="side-container">
    <div class="side-header">
      <%= link_to root_path do %>
        <span class="fa fa-twitter"></span> 
      <% end %>
      <div class="name">
        <% if user_signed_in? %>
          <%= link_to current_user.nickname, "/users/#{current_user.id}" %>
        <% else %>
          <%= link_to "ログイン画面へ", new_user_session_path %>
        <% end %>
      </div>
    </div>

    <div class="side-list">
      <div class="follow">
        <% if user_signed_in? %>
          <%= link_to "フォロー", "" %><br>
          <p>○人</p>
          <%= link_to "フォロワー", "" %><br>
          <p>○人</p>
          <%= link_to "お気に入り", like_path(current_user) %><br>
          <%= @likes %>
        <% end %>
      </div>
    </div>

    <div class="side-footer">
      <div class="log">
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
        <% end %>
      </div>
    </div>
  </div>
