<div class="wrapper">
  <div class="side-container">
    <div class="side-header">
      <%= link_to root_path do %>
        <span class="fa fa-home"></span> 
      <% end %>
      <div class="nick-name">
        <!--ログイン状態であればユーザー名を表示、ログアウト状態はログインページへのリンク-->
        <% if user_signed_in? %>
          <%= link_to current_user.nickname, "/users/#{current_user.id}" %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <button class="btn-login" >ログイン</button>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="side-list">
      <div class="follow">
        <% if user_signed_in? %>
          <%= link_to "フォロー", relationships_path %><br>
          <p><%= @follow.count %></p>
          <%= link_to "フォロワー", likes_path %><br>
          <p><%= @follower.count %></p>
          <%= link_to "お気に入り", like_path(current_user) %><br>
          <!--ログインユーザーが登録しているお気に入りの数を表示-->
          <div id = "counts">
            <%= @likes.count %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="side-footer">
      <div class="log">
        <!--ログイン状態であればログアウトのリンク、ログアウト状態であれば新規登録ページへのリンク-->
        <% if user_signed_in? %>
          <%= link_to (destroy_user_session_path), method: :delete, data: { confirm: 'ログアウトしますか？' } do %>
            <button class="btn-logout" >ログアウト</button>
          <% end %>
        <% else %>
          <%= link_to (new_user_registration_path) do %>
            <button class="btn-sign" >新規登録</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>